
html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:0;
}
a{
    text-decoration: none;
}
.barra-navegacion {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    list-style-type: none;
    background-color:rgb(209,28,91);
    font-size: 15px;  
    height: 100px;
    margin-top:0px;
   

}
.menu-responsive{
    display: none;
}
.hamburguesa{
    display: none;  
  
}
#hamburguesa{
    background-color: pink;
    border:2px solid whitesmoke;
}

.link-nav{
margin-right: 30px; 
color:rgb(246,238,213);
}

.link-nav-contacto {
    border: 5px solid rgb(246,238,213);
    background-color: rgb(246,238,213);
    border-radius: 50px;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left:15px;
    padding-right:15px;

    font-size: 15px;
    color:rgb(209,28,91); 
    margin-right: 70px;
}



.link-nav a:link{
    color:rgb(246,238,213);
}

.link-nav a:active{
    color:rgb(246,238,213);
}

.link-nav a:visited{
    color:rgb(246,238,213);
}

.link-nav a:hover{
    color:rgb(246,238,213);
}

.contenido-encabezado {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
   
}

.contenedor-avatar{
    width: 70%;
    height: 70%;
    margin-bottom: 10%;

 }

.contenedor-avatar img{
    width: 100%;
    height: auto;      
}

.saludo{
    margin-left:5%;
}

.link-loquehago {
    border: 5px solid rgb(209,28,91);
    background-color: rgb(209,28,91);
    border-radius: 50px;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;
    font-size: 15px;
    font-weight:bold;
    color:rgb(246,238,213);
    margin-top:20px;

}

.saludo h1{
    color: rgb(209,28,91);
    font-size: 60px;
    font-weight: bold; 
   
    
}

h2 {
    color:rgb(209,28,91);
    font-weight: bolder;
    font-size: 40px; 
  
}   

.saludo h2{
    font-size: 20px;
    
}

.descripcion-personal{
    font-size: 20px;
   
  
}

.conocimientos{
    background-color:rgb(245, 196, 220);
    /* no es necesario aqui text align center, se ocupa flex  */
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.info-conocimientos{
    color: rgb(209,28,91);
    font-size:20px;
}
.contenedor-tarjetas-conocimientos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 950px;    
}

.tarjeta{
    background-color:white;
    padding:60px;
    width: 100px;
    height:100px;  
    margin:10px;
    border: 1px solid rgb(209,28,91);
    border-radius: 10px; 
    text-align: center;
}

.tarjeta img{
        width: 100%;
        height: auto;           
}

.titulo-tarjeta{
    color:rgb(209,28,91);
    font-size:20px;
}

.seccion-frase{
background-color:rgb(209,28,91);
display: flex;
flex-direction: column;
/* justify content no es necesario aqui, mucho menos align content ya que no hay flex wrap */
justify-content: center;
align-content: center;
padding:10%;
}

.frase{
     font-size: 20px;
     color:rgb(246,238,213);
     text-align: center;
     justify-content: center;
     padding:50px;      
 }

 .autor-frase{
     font-size: 35px;
     font-weight: bold;
     color:rgb(246,238,213);
     text-align: center;    
 }

 .proyectos{
   
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }

.links-navegacion-proyectos{
    list-style-type: none;
    display: flex;
    align-items: center;  
    justify-content: center;
    
}
.links-navegacion-proyectos a:active{
    color: rgb(209,28,91);
    border: 1px solid gold; 
    border-radius: 5px;  
}
.links-navegacion-proyectos a:visited{
    color:rgb(209,28,91);
}
.links-navegacion-proyectos a:hover{
    color:rgb(209,28,91);
}

.link-pro {
    background-color: pink;
    border:2px solid pink;
    border-radius:20px;
    padding:10px;
    font-size: 20px;
    font-weight: lighter;
    color: rgb(209,28,91);  
    margin:20px;
}

.titulo-proyecto{
    font-size: 15px;
   
    font-weight: lighter;   
}

.boton-proyecto{
    border: 5px solid rgb(209,28,91);
    background-color: rgb(209,28,91);
    border-radius: 50px;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;
    font-size: 15px;
    color:rgb(246,238,213);
    text-decoration: none;
}

.contenedor-tarjetas-proyectos{
   
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;  
}

.tarjeta-proyectos{
   
    text-align: center;
    width: 250px;
    height:250px;  
    margin:10px;
    border: 1px solid gray;
    border-radius: 10px; 
    display:flex;
    flex-direction: column;
    padding:4%;   
}

.tarjeta-proyectos img{
    width: 100%;
    height:auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.pie{
    text-align: center;
    background-color:rgb(209,28,91);  
    padding:1%;

    /* El color de text se hereda, asi que podrias haber puesto 
    color:rgb(246,238,213) aqui y ahorrartelo en los siguientes estilos */
}

.links-navegacion-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    color:rgb(246,238,213);
    margin-right: 10px;
}

.link-footer{
    margin-right: 20px;
    color:rgb(246,238,213);    
}

.link-footer-contacto {
    color:rgb(246,238,213);
}

.pie p{
    color:rgb(246,238,213);
    font-size:20px;
}

.icon-quotes{
    color:rgb(246,238,213);
    text-align:center;
    font-size: 70px;
} 

.icon-github{
    color:black;
}

.icon-face{
    color:blue;
}

.icon-insta{
    color:indigo;
}

.icon-github,.icon-face,.icon-insta{
    margin: 20px;
}

.icon-heart{
    color:red;
}
.hidden{
    display:none;
}
@media (min-width:900px) and (max-width:1400px){
    .barra-navegacion {
        font-size: 25px;  
        height: 200px;
        margin-top:0px;
    }
    
    .contenedor-avatar{
        height: 20%;
        margin-bottom: 2%;
    }
}
@media (min-width:600px) and (max-width:900px){
    .contenido-encabezado{
        /* no es necesario repetir display flex aqui! */
        display: flex;
        flex-wrap: wrap;
        text-align:center;
        
    }
    .contenedor-avatar{
        margin-top:0px;
        height: 50%;
        width: 50%;
        margin-top:5%;
    }
    .tarjeta-proyectos{
        width: 150px;
        height:150px;
        padding:10%;
    }


    }
@media (max-width:600px){
    .hamburguesa{
        /* aqui primero decis display block y display flex: uno solo basta */
        display:flex;
        justify-content: flex-end;
        color:rgb(246,238,213);
        background-color: rgb(209,28,91);
        height:25px;
        padding: 10px;
    }

    .hamburguesa a:active{
        outline-style:solid;
        outline-color: rgb(246,238,213);
        outline-width: 1px;
        color: rgb(246,238,213);
        padding:2px;
    }
    .hamburguesa a:visited{
        color:rgb(246,238,213);
    }

    .hamburguesa a:hover{
        color:rgb(246,238,213);
    }
    .menu-responsive{ 
        display: block;
        background-color: pink; 
        position:relative;
        width: 100%;
        transition:1s;
        transform:translateY(-300px);
        border-radius: 5px;
        padding:1px;
        
        
        
        }
        .menu-responsive ul{
            padding-right:5px;
        }
        .links {
        padding: 2px;
        }
        .menu-responsive a:link{
            color:rgb(209,28,91);
        }
        
        .menu-responsive a:active{
            color:rgb(209,28,91);
        }
        
        .menu-responsive a:visited{
            color:rgb(209,28,91);
        }
        
        .menu-responsive a:hover{
            color:rgb(209,28,91);
        }
        
        .mostrar-menu{
            transform:translateY(0px);
        }

    .saludo h1{
        font-size: 40px;
    }

    h2{
        font-size: 20px;
    }

    .barra-navegacion,.links-navegacion-footer{
        display:none;
    }

    .contenido-encabezado{
        display: flex;
        flex-wrap: wrap;
        text-align:center;
           
    }

    .contenedor-avatar{
        margin-top:20px;
    }

    .descripcion-personal{
        font-size: 12px;
        margin-bottom: 50px;
        
    }
    .info-conocimientos{
        font-size:15px;
    }
   
    .tarjeta{
        width: 60px;
        height:auto;
        padding: 20px;
        margin:10px;

    }

    .titulo-tarjeta{
        font-size: 15px;
    
    }
    .links-navegacion-proyectos{
        margin-right: 50px;
    }
    .link-pro, .boton-proyecto{
        font-size: 10px;
        margin: 5px;   
    }

    .tarjeta-proyectos{
        width: 200px;
        height:200px;
        padding:20%;
    }

    .frase{
        font-size: 15px;
    }

    .autor-frase{
        font-size: 20px;
    }

    .icon-quotes{
        font-size:40px;
    }
   
    .pie p{
        font-size: 15px;

    }
    
}
