
html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:0;
}

.barra-navegacion {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    list-style-type: none;
    background-color:rgb(209,28,91);
    font-size: 15px;  
    height: 100px;
    margin-top: 0;
}
.hamburguesa{
    display: none;
}

.link-nav{
margin-right: 20px; 
}
.link-nav-contacto {
    border: 5px solid rgb(246,238,213);
    background-color: rgb(246,238,213);
    border-radius: 50px;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;
    font-size: 15px;
    color:rgb(209,28,91); 
    margin-right: 70px;
}

a:visited{
    color:rgb(246,238,213);
}

a{
    text-decoration: none;
}
a:active{
    color:rgb(246,238,213);
}

a:hover{
    color:rgb(246,238,213);
}

.contenido-encabezado {
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.contenedor-avatar{
    width: 60%;
    height: 60%;
    
    }

    .contenedor-avatar img{
    width: 100%;
    height: auto;
    margin-top:15%;
   
   
    
}

.link-conoceme {
    background-color:rgb(209,28,91);
    border-radius: 50px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    font-size: 15px;
    color:rgb(246,238,213); 
    font-weight:bold;
    text-decoration: none;
   

      
}

h1{
    color: rgb(209,28,91);
    font-size: 60px;
    font-weight: bold;
    margin: 0;
   
   
}

h2 {
    color:rgb(209,28,91);
    font-weight: bolder;
    font-size: 40px;

   
}   
.saludo h2{
    font-size: 20px;
    color:black;
}

h3{
    color:indigo;
    font-weight: bold;
    font-size: 25px;
    
}
p{
    color:black;
}
.descripcion-personal{
    font-size: 20px;
    color:black;
}

.conocimientos{
  
    background-color:rgb(245, 196, 220);
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    
}
.contenedor-tarjetas-conocimientos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 950px;
    
}
.tarjeta{
    background-color:white;
    padding:70px;
    width: 130px;
    height:130px;  
    margin:20px;
    border: 1px solid rgb(209,28,91);
    border-radius: 10px; 
    text-align: center;
}
.tarjeta img{
        width: 100%;
        height: auto;
    
       
    
}
.seccion-frase{
background-color:rgb(209,28,91);
display: flex;
flex-direction: column;
justify-content: center;

align-content: center;
padding:10%;
 }
 .frase{
     font-size: 20px;
     color:rgb(246,238,213);
     text-align: center;
     justify-content: center;
     padding:50px;
     
    
 }
 .autor-frase{
     font-size: 35px;
     font-weight: bold;
     color:rgb(246,238,213);
     text-align: center;
     
 }
 .proyectos{
    background-color: red;
   
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
   

 }
.links-navegacion-proyectos{
   
    list-style-type: none;
    font-size:15px;

    align-items: center;
 


}

.link-pro, .boton-proyecto{

    font-size: 20px;
    font-weight: lighter;
    margin-right: 20px;
    color: rgb(209,28,91);   
}

.links-navegacion-proyectos a:visited{
    color:rgb(209,28,91);
}
.links-navegacion-proyectos a:active{
    outline-style:solid;
    outline-color:rgb(250,198,0);
    outline-width: 2px;
    color: black;
    
}

.links-navegacion-proyectos a:hover{
    color:rgb(209,28,91);
}

.titulo-proyecto{
    font-size: 15px;
    color:black;
    
}
.boton-proyecto{
    border: 5px solid rgb(209,28,91);
    background-color: rgb(209,28,91);
    border-radius: 50px;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;
    font-size: 15px;
    color:rgb(246,238,213); 
    
  

}

.contenedor-tarjetas-proyectos{
    background-color:greenyellow;
    display: flex; 
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    margin:0;
    
}

.tarjeta-proyectos{
    background-color:white;
   text-align: center;
    width: 250px;
    height:250px;  
    margin:10px;
    border: 1px solid rgb(209,28,91);
    border-radius: 10px; 
    display:flex;
    flex-direction: column;
    padding:4%;
  
   
}
.img-proyecto{
    width: 100%;
    height:auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.pie{
    text-align: center;
    background-color:rgb(209,28,91);
    
    padding:1%;

}

.links-navegacion-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    color:rgb(246,238,213);
    margin-right: 10px;

}
.link-footer{
    margin-right: 20px;
    
}
.link-footer-contacto {
    color:rgb(246,238,213);

}
.frase-footer{
    color:rgb(246,238,213);

}
.color-icon-quotes{
    color:rgb(246,238,213);
    
    
    text-align: center;
}
.icon-github{
    color:black;
}
.icon-face{
    color:blue;
}
.icon-insta{
    color:indigo;
}
.icon-github,.icon-face,.icon-insta{
    margin: 20px;
}
.icon-heart{
    color:red;
}

@media (max-width:700px){
    .hamburguesa{
        display:block;
        display:flex;
        justify-content: flex-end;
        margin:0;
        color:rgb(246,238,213);
        background-color: rgb(209,28,91);
        padding: 10px;

    }
    .hamburguesa a:visited{
        color:rgb(246,238,213);
    }
    .hamburguesa a:active{
        outline-style:solid;
        outline-color: rgb(246,238,213);
        outline-width: 1px;
        color: rgb(246,238,213);
        padding:2px;
    }
    
    .hamburguesa a:hover{
        color:rgb(246,238,213);
    }
    
        


    .barra-navegacion,.links-navegacion-footer{
        display:none;
    }
    .contenido-encabezado{
        flex-wrap: wrap;

    }
    .frase-footer{
        text-align: center;
    }
  
    .contenedor-tarjetas-proyectos{
        flex-wrap: wrap;
       
        
    }
    .contenido-encabezado{
        text-align:center;
        display: flex;
        flex-wrap: wrap;
        margin-top: 20%;  

    }
    .contenedor-avatar{
       
        margin-top: 10%;
    }
   
}